const noBtn = document.getElementById("noBtn");
const yesBtn = document.getElementById("yesBtn");
const message = document.getElementById("message");
const hearts = document.querySelector(".hearts");

const texts = [
  "Oops 😜",
  "Not today 😂",
  "Try again 💀",
  "Nope 😏",
  "Impossible 💔"
];

// NO button runs away
noBtn.addEventListener("mouseover", () => {
  const x = Math.random() * 200;
  const y = Math.random() * 100;

  noBtn.style.left = x + "px";
  noBtn.style.top = y + "px";

  message.textContent = texts[Math.floor(Math.random() * texts.length)];
});

// YES clicked
yesBtn.addEventListener("click", () => {
  message.textContent = "YAYYY 💖 I KNEW IT 😍";
});

// Heart rain
setInterval(() => {
  const heart = document.createElement("span");
  heart.innerHTML = "❤️";
  heart.style.left = Math.random() * 100 + "vw";
  heart.style.fontSize = Math.random() * 20 + 10 + "px";
  hearts.appendChild(heart);

  setTimeout(() => {
    heart.remove();
  }, 5000);
}, 300);
#noBtn {
  background: #ccc;
  position: absolute;
  left: 170px;
  top: 0;
}
/* CAT BLINK ANIMATION */
.cat {
  animation: blink 5s infinite;
  transform-origin: center;
}

@keyframes blink {
  0% { transform: scaleY(1); }
  2% { transform: scaleY(0.1); }
  4% { transform: scaleY(1); }
  100% { transform: scaleY(1); }
}